<footer class="footer"> 
    <div class="footer__container">
        <section>
            <h2 class="footer__title"> sobre</h2>
            <p class="footer__about-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores animi corporis tempore quo sunt quaerat aut, hic architecto recusandae. Sit velit rerum saepe eligendi aliquid reprehenderit nemo consequatur. Dolore, labore.

            </p>

        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"> email@email.com</i></li>
                <li><i class="fa-solid fa-phone"> (00)99999-9999</i></li>
                <li><i class="fa-brands fa-whatsapp"> (00)99999-9999</i></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">

        &copy; Todos os direitos reservados.

    </section>
</footer>

